.form-wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    background: url(../../images/skyscrepper.jpg) no-repeat; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 340px;
}
.form input {
    padding: 10px;
    font-size: 21px;
    margin-bottom: 15px;
    border: none;
}
.form input:focus {
    outline: none;
}
.form-btn {
    width: 100%;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    border: none;
    font-weight: 700;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    margin-top: 17px;
    font-size: 21px;
}